/Hwrk/Assignment 3/Savitch_9thEd_Chpt3_PracProg6/build/
/Hwrk/Assignment 3/Savitch_9thEd_Chpt3_PracProg6/dist/
/Hwrk/Assignment 3/Savitch_9thEd_Chpt3_ProgProj2/build/
/Hwrk/Assignment 3/Savitch_9thEd_Chpt3_ProgProj2/dist/
/Lab/Lab 031617/GradeDependentIf/build/
/Lab/Lab 031617/GradeDependentIf/dist/
/Hwrk/Assignment 4/Gaddis_8thEd_Chpt5_Prob8/build/
/Hwrk/Assignment 4/Gaddis_8thEd_Chpt5_Prob8/dist/
/Lab/Lab 033017/Gaddis_8thEd_Chpt5_Prob8/build/
/Lab/Lab 033017/Gaddis_8thEd_Chpt5_Prob8/dist/
/Hwrk/Assignment 4/Savitch_9thEd_Chpt4_PracProb7/build/
/Hwrk/Assignment 4/Savitch_9thEd_Chpt4_PracProb7/dist/
/Hwrk/Assignment 4/Savitch_9thEd_Chpt4_PracProg1/build/
/Hwrk/Assignment 4/Savitch_9thEd_Chpt4_PracProg1/dist/
/Hwrk/Assignment 4/Savitch_9thEd_Chpt4_PracProg2/dist/
/Hwrk/Assignment 4/Savitch_9thEd_Chpt4_PracProg2/build/
/Hwrk/Assignment 4/Gaddis_8thEd_Chpt5_Prob1/build/
/Hwrk/Assignment 4/Gaddis_8thEd_Chpt5_Prob1/dist/
/Lab/Lab 032817/GameOfCraps_V4/dist/
/Lab/Lab 032817/GameOfCraps_V4/build/
/Hwrk/Assignment 4/Gaddis_8thEd_Chpt5_Prob2/dist/
/Hwrk/Assignment 4/Gaddis_8thEd_Chpt5_Prob2/build/
/Hwrk/Assignment 4/Menu Assignment 4/build/
/Hwrk/Assignment 4/Menu Assignment 4/dist/
/Hwrk/Assignment 4/Gaddis_8thEd_Chpt5_Prob20/build/
/Hwrk/Assignment 4/Gaddis_8thEd_Chpt5_Prob20/dist/
/Lab/Lab 032817/SumOf2Dice/dist/
/Lab/Lab 032817/SumOf2Dice/build/
/Lab/Lab 032317/Sum1toN/dist/
/Lab/Lab 032317/Sum1toN/build/
/Hwrk/Assignment 4/Gaddis_8thEd_Chpt5_Prob21/build/
/Hwrk/Assignment 4/Gaddis_8thEd_Chpt5_Prob21/dist/
/Proj/Project 1/Mastermind/build/
/Proj/Project 1/Mastermind/dist/
/Lab/Lab 031617/GradeTernaryOperator_or_ConditionalOperator/build/
/Lab/Lab 031617/GradeTernaryOperator_or_ConditionalOperator/dist/
/Lab/Lab 021417/Cpp Template/build/
/Lab/Lab 021417/Cpp Template/dist/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt5_Prob1_Markup/build/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt5_Prob1_Markup/dist/
/Lab/Lab 021417/Gaddis_8thEd_Chpt6_Prob5_FallingDistances/dist/
/Lab/Lab 021417/Gaddis_8thEd_Chpt6_Prob5_FallingDistances/build/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob6_KineticEnergy/build/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob6_KineticEnergy/dist/
/Lab/Lab 021417/Gaddis_8thEd_Chpt6_Prob8_CoinToss/build/
/Lab/Lab 021417/Gaddis_8thEd_Chpt6_Prob8_CoinToss/dist/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob7_Farenheit/dist/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob7_Farenheit/build/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob9_PresentValue/build/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob9_PresentValue/dist/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob10_FutureValue/build/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob10_FutureValue/dist/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob20_StockProfit/dist/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob20_StockProfit/build/
/Hwrk/Assignment 5/Menu_Assignment5/build/
/Hwrk/Assignment 5/Menu_Assignment5/dist/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob21_TotalStockProfit/build/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob21_TotalStockProfit/dist/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob16_Population/build/
/Hwrk/Assignment 5/Gaddis_8thEd_Chpt6_Prob16_Population/dist/
/Proj/Project 1/Mastermind_V2/build/
/Proj/Project 1/Mastermind_V2/dist/